*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.ecran{
    width: 100%;
    height: 100%;
    background-image: url(images/bg3.png);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.navbar a{
    color: antiquewhite;
    font-size: 30px;
    transition: background 0.5s;
}
#home{
    width: 90%;
    max-width: 440px;
    color: aliceblue;
    text-align: center;
    padding: 50px 30px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);

}
#home img{
    width: 150px;
    border-radius: 50%;
}
#home h1{
    color: rgb(226, 75, 64);
}
#home h2{
    font-size: 50px;
    font-weight: 600px;
    margin-top: 20px;
}
#home p{
    font-size: 20px;
    margin: 10px auto;
    max-width: 330px;
}
.navbar a:hover{
    background: rgb(82, 199, 98);
}
#services{
    width: 90%;
    max-width: 440px;
    color: aliceblue;
    text-align: center;
    padding: 50px 30px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}
#contact{
    width: 90%;
    max-width: 440px;
    color: aliceblue;
    text-align: center;
    padding: 50px 30px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
}
#services h1{
    color: rgb(226, 75, 64);
}
#contact h1{
    color: rgb(226, 75, 64);
}
#contact a:hover{
background: rgb(82, 199, 98);
}
